*{
    padding : 0;
    margin : 0;
}
/* 
.Home{
    background-image: url('../img/Banner_Home.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 500px;
} */